* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: auto;
    width: 80%;
    border-radius: 6px;
    background-color: #9aedff;
}

h1 {
    color: #4066e7;
    font-family: monospace;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #4066e7;
    padding: 10px;
}

.inpSec {
    padding: 10px;
    border-bottom: 1px solid #4066e7;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    width: 60%;
    outline: none;
}

button {
    padding: 10px;
    width: 80px;
    border: none;
    background-color: #ff6666;
    border-radius: 6px;
    font-weight: 900;
}

ul {
    list-style: none;
    height: auto;
    width: 100%;
    padding: 5px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 6px;
    background-color: #f5efb7;
    border-bottom: 1px solid #4066e7;
    margin: 10px;
}
